// COLORS
$color-white: #fff;
$color-text: #333;
$color-primary: #FF0404;
$color-black: #000;

// FONT FAMILY
$font-arimo: 'Arimo', 'Arial', sans-serif;
$font-fira: 'Fira Sans Extra Condensed', 'Arial', sans-serif;   