.futuraes {
  width: 100%;
  background: linear-gradient(0deg, #333333, #333333),
    linear-gradient(0deg, #333333, #333333), #735ff2;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8.5px 0;
  gap: 56px;
  @include responsive(phone) {
    display: none;
  }
}
.futuraes__item {
  font-size: 14px;
  line-height: 21px;
}
.images {
  width: 100%;
  overflow: hidden;
}
.images__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

// CALC

.calc {
  margin-bottom: 80px;
  padding: 80px 0;
  background: linear-gradient(0deg, #f5f7f9, #f5f7f9), #ece8e5;
  @include responsive(table) {
    margin-bottom: 40px;
    padding: 60px 0;
  }
  .container {
  }
}

.calc__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  margin-bottom: 45px;
  @include responsive(big-table) {
    gap: 8px;
    margin-bottom: 20px;
  }
  @include responsive(table) {
    margin-bottom: 10px;
  }
}
.calc__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 55px;
  @include responsive(big-table) {
    font-size: 45px;
  }
  @include responsive(table) {
    font-size: 30px;
  }
}
.calc__title-fire {
  display: block;
  @include responsive(big-table) {
    width: 40px;
    height: 40px;
  }
  @include responsive(table) {
    width: 30px;
    height: 30px;
  }
}
.calc__wrapper {
  padding: 45px 46px 45px 47px;
  box-shadow: 10px 10px 50px 0 rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  text-align: center;
  background-color: #ffffff;
  @include responsive(big-table) {
    padding: 35px 36px 35px 37px;
  }
  @include responsive(table) {
    padding: 20px 36px 35px 37px;
  }
}
.calc__wrapper-title {
  text-align: center;
  margin-bottom: 35px;
  @include responsive(big-table) {
    margin-bottom: 25px;
    font-size: 35px;
  }
  @include responsive(table) {
    margin-bottom: 15px;
    font-size: 27px;
  }
}

.calc__wrapper-region {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include responsive(table) {
    flex-direction: column;
    gap: 20px;
  }
}
.region__list {
  display: flex;
  align-items: center;
  gap: 10px;
  @include responsive(table) {
    flex-direction: column;
    width: 100%;
  }
}
.region__item {
  padding: 8px 18px 8px 16px;
  background: linear-gradient(0deg, #eaecef, #eaecef), #eaecef;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 12px;
  @include responsive(big-table) {
    padding: 5px 10px;
  }
  @include responsive(table) {
    min-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.region__item-text {
  font-family: $font-arimo;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  @include responsive(big-table) {
    font-size: 15px;
    line-height: 20px;
  }
}
.region__item-text-arrow {
  width: 8px;
  height: 4px;
  display: block;
  opacity: 0, 8;
}
.region__promoted {
  display: flex;
  align-items: center;
  gap: 10px;
}
.region__promoted-box {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.region__promted-arrow {
  display: none;
}
.region__promted-arrow-none {
  display: block;
}
.region__promted-text {
  font-family: $font-arimo;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  @include responsive(big-table) {
    font-size: 13px;
    line-height: 20px;
  }
}

// DROPDAWN
.region__dropdown {
  position: relative;
}
.region__this {
}
.region__variants {
  position: absolute;
  top: calc(100% + 5px);
  background-color: #eaecef;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
  z-index: 3;
}
.regions__variant {
  padding: 4px 8px;
  background-color: #eaecef;
  font-family: $font-arimo;
  font-weight: 600;
  font-size: 11px;
  line-height: 24px;
  color: $color-text;
  text-align: left;
  &:hover {
    background-color: $color-white;
  }
}
.region__show {
  .region__variants {
    opacity: 1;
    pointer-events: visible;
  }
}

// input
.range {
  margin-top: 30px;
  margin-bottom: 30px;
}
.range-const {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.range-text {
  font-family: $font-arimo;
  font-weight: 500;
  font-style: 10px;
  line-height: 15px;
}
.range-val {
  font-family: $font-arimo;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.range-span {
  font-family: $font-arimo;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.range-input {
  background: #f4f7fe;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #fff, #ff0404);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ff0404;
  cursor: ew-resize;
}
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
}

.calc__btn {
  display: inline-block;
  font-family: $font-arimo;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 11px 30px;
  border: 1px solid #ff0404;
  border-radius: 5px;
  background-color: transparent;
  color: $color-primary;
  margin-bottom: 45px;
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    transition: all 0.4s;
  }
}

.plan {
  position: relative;
}
.plan__center {
  margin: 0 7px;
  @include responsive(table) {
    display: none;
  }
}
.plan__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 36px;
  @include responsive(big-table) {
    font-size: 25px;
    line-height: 25px;
  }
  @include responsive(table) {
    margin-bottom: 30px;
  }
}
.plan__wrapper {
  display: flex;
  justify-content: space-between;
  @include responsive(table) {
    flex-direction: column;
    justify-content: center;
  }
}
.plan__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include responsive(big-table) {
    gap: 15px;
  }
}
.plan__list:not(:last-child) {
  @include responsive(table) {
    margin-bottom: 30px;
    padding-bottom: 40px;
    border-bottom: 2px solid #f0edea;
  }
}
.plan__item-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 3px;
  @include responsive(big-table) {
    font-size: 20px;
    line-height: 20px;
  }
  @include responsive(table) {
    font-size: 22px;
    line-height: 22px;
  }
  @include responsive(phone) {
    margin-bottom: 0;
  }
}
.plan__item {
  width: 100%;
  max-width: 234px;
  text-align: left;
  display: flex;
  gap: 14px;
  font-family: $font-arimo;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  @include responsive(big-table) {
    font-size: 14px;
    line-height: 16px;
  }
  @include responsive(table) {
    font-size: 18px;
    line-height: 20px;
    max-width: 100%;
  }
  @include responsive(phone) {
    font-size: 16px;
    line-height: 18px;
  }
}


// TARIF STYLES
.tarif {
  margin-bottom: 80px;
  @include responsive(big-table) {
    margin-bottom: 60px;
  }
  .container {
  }
}

.tarif__title {
  text-align: center;
  margin-bottom: 45px;
  @include responsive(big-table) {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  @include responsive(table) {
    font-size: 40px;
    line-height: 40px;
  }
}
.tarif__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-bottom: 20px;
  @include responsive(big-table) {
    gap: 30px;
  }
  @include responsive(table) {
    display: none;
  }
}
.tarif__nav-item {
}
.tarif__nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  @include responsive(table) {
    font-size: 14px;
    line-height: 22px;
  }
}
.tarif__scan {
}
.tarif__scan-title:first-child {
  display: block;
  padding: 8px 0;
  background: linear-gradient(0deg, #ffd773, #ffd773), #f4f7fe;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 35px;
  @include responsive(big-table) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  @include responsive(table) {
    font-size: 25px;
    line-height: 25px;
  }
}
.tarif__scan-title:nth-child(3) {
  display: block;
  padding: 8px 0;
  background: linear-gradient(0deg, #77cbfa, #77cbfa), #f4f7fe;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 35px;
  @include responsive(big-table) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  @include responsive(table) {
    font-size: 25px;
    line-height: 25px;
  }
}
.tarif__scan-list {
}
.tarif__scan-list:nth-child(2) {
  margin-bottom: 35px;
  @include responsive(big-table) {
    margin-bottom: 30px;
  }
}
.tarif__scan-list:nth-child(4) {
  margin-bottom: 25px;
}
.tarif__scan-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include responsive(table) {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
.tarif__scan-item:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 2px solid #eaecef;
  margin-bottom: 20px;
  @include responsive(table) {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
.tarif__scan-item-title-wrapper {
  @include responsive(table) {
    flex-direction: column;
  }
}
.tarif__scan-item-title {
  width: 100%;
  max-width: 411px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 10px;
  @include responsive(big-table) {
    font-size: 21px;
    line-height: 21px;
  }
}
.tarif__scan-list .tarif__scan-item-title:first-child {
  width: 411px;
  @include responsive(big-table) {
    width: 100%;
  }
}
.tarif__scan-item-text {
  width: 100%;
  max-width: 411px;
  font-family: $font-arimo;
  font-size: 16px;
  line-height: 18px;
  @include responsive(big-table) {
    max-width: 350px;
    font-size: 14px;
    line-height: 16px;
  }
  @include responsive(table) {
    margin-bottom: 20px;
  }
}

.tarif__scan-item-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 62px;
  min-height: 102px;
  @include responsive(big-table) {
    gap: 40px;
  }
  @include responsive(table) {
    display: none;
  }
}
.tarif__scan-item-img-wrapper .tarif__scan-check-img:last-child {
  margin-right: 62px;
  @include responsive(big-table) {
    margin-right: 40px;
  }
}
.tarif__scan-img-arrow {
  min-height: 102px;
  min-width: 2px;
}
.tarif__scan-check-img {
  width: 18px;
  height: 12px;
}
.tarif__scan-red-img {
}
.tarif__scan-white-img {
}
// on
.tarif__nav-on {
  display: none;
  @include responsive(table) {
    display: block;
  }
}
.tarif__item-on {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 105px;
}
.tarif__nav-on-link {
}

.tarif__btn-list {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
  @include responsive(table) {
    gap: 10px;
  }
  @include responsive(phone) {
    flex-direction: column;
  }
}
.tarif__btn-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  @include responsive(phone) {
    padding: 22px 20px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    background: linear-gradient(0deg, #f5f7f9, #f5f7f9), #eaecef;
    border-radius: 5px;
  }
}
.tarif__btn-cost {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  @include responsive(phone) {
    margin-bottom: 0;
  }
}
.tarif__btn-item:first-child .tarif__btn-cost::before {
  content: 'Продвинутый';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.tarif__btn-item:nth-child(2) .tarif__btn-cost::before {
  content: 'Комплексный';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.tarif__btn-item:nth-child(3) .tarif__btn-cost::before {
  content: 'Потрясающий';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.tarif__btn-item:nth-child(4) .tarif__btn-cost::before {
  content: 'Оптимизация';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.tarif__btn {
  display: block;
  padding: 8px 25px;
  background-color: transparent;
  color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 5px;
  font-family: $font-arimo;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  transition: all 0.4s;
  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

// APPLICATION STYLES
.application {
  padding: 80px 0;
  background-color: $color-text;
  @include responsive(phone) {
    padding: 60px 0;
  }
  .container {
  }
}

.application__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 44px;
  @include responsive(phone) {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 30px;
  }
}
.application__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px;
  @include responsive(big-table) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  @include responsive(table) {
    // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    display: flex;
    flex-direction: column;
  }
  @include responsive(phone) {
    gap: 14px;
  }
}
.application__input {
  color: $color-white;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  outline: none;
  padding: 18px 0px 18px 15px;
  padding-left: 18px;
  padding-right: 18px;
  @include responsive(phone) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.application__input::placeholder {
  font-family: $font-arimo;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  opacity: 0.9;
  padding: 0px 247px 0px 0px;
}
.application__check-box-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  @include responsive(big-table) {
    grid-area: 3/2/4/3;
  }
  @include responsive(table) {
    order: 1;
  }
}
.application__check-box {
  display: block;
  min-width: 20px;
  min-height: 20px;
  border: 1px solid rgba(153, 153, 153, 0.5);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.application__check-img {
  display: none;
}
.application__check-img-show {
  display: block;
}
.application__check-box-text {
  font-family: $font-arimo;
  font-size: 14px;
  line-height: 16px;
  color: $color-white;
}
.application__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12.5px 0px;
  background-color: $color-primary;
  font-family: $font-arimo;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 20px 35px -10px rgba(255, 45, 45, 0.5);
    color: #fff;
  }
}

.user {
  padding: 80px 0;
  @include responsive(phone) {
    padding: 60px 0;
  }
  .container {
  }
}
.user__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 100px;
  @include responsive(big-table) {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 50px;
  }
  @include responsive(litle-phone) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.user__item {
  text-align: center;
  @include responsive(litle-phone) {
    display: flex;
  }
}
.user__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  @include responsive(litle-phone) {
    width: 85px;
    height: 85px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.user__text-wrapper {
  @include responsive(litle-phone) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
.user__title {
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.31px;
  margin-bottom: 13px;
  @include responsive(litle-phone) {
    margin-bottom: 10px;
  }
}
.user__text {
  width: 100%;
  max-width: 168px;
  font-family: $font-arimo;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.31px;
  margin-left: auto;
  margin-right: auto;
  @include responsive(litle-phone) {
    text-align: left;
  }
}

.anounce {
  background-color: #ECE8E5;
  padding: 80px 0 76px;
  @include responsive(table) {
    padding: 60px 0;
  }
  .container {
  }
}
.anounce__title {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 45px;
  text-transform: uppercase;
  @include responsive(table) {
    font-size: 35px;
    line-height: 35px;
  }
}
.anounce__list {
}
.anounce__item {
  border-radius: 20px;
  padding: 39px 19px 21px;
  min-width: 230px;
  // background-color: #93E7FF;
}
.anounce__list .anounce__item:first-child {
  background-color: #93E7FF;
}
.anounce__list .anounce__item:nth-child(2) {
  background-color: #FFD773;
}
.anounce__list .anounce__item:nth-child(3) {
  background-color: #A3A3FF;
}
.anounce__list .anounce__item:nth-child(4) {
  background-color: #D1CAFF;
}
.anounce__item:nth-child(odd) {
  background-color: #D1CAFF;
}
.anounce__item:nth-child(even) {
  background-color: #FFD773;
}
.anounce__item-title {
  width: 100%;
  max-width: 146px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 31px;
}
.anounce__item-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.anounce__item-text {
  width: 100%;
  max-width: 140px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-arimo;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 15px;
  color: $color-black;
}
.anounce__item-const {
  font-family: $font-arimo;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: $color-black;
  margin-bottom: 25px;
}
.anounce__item-btn {
  display: block;
  padding: 12.5px 19px;
  text-align: center;
  border-radius: 5px;
  background-color: $color-white;
  font-family: $font-arimo;
  font-size: 16px;
  line-height: 24px;
  color: $color-black;
}

.portfolio {
  padding: 84px 0 80px;
  @include responsive(table) {
    padding: 60px 0;
  }
  .container {
  }
}
.portfolio__title {
  text-align: center;
  margin-bottom: 45px;
  @include responsive(table) {
    font-size: 35px;
    line-height: 35px;
  }
}
.portfolio__title::before {
  content: 'Н2 - ';
  @include responsive(phone) {
    display: none;
  }
}
.portfolio__list {

}
.portfolio__item {
  background-color: #F5F7F9;
  border-radius: 20px;
  padding: 20px 20px 36px;
  min-width: 230px;
}
.portfolio__item-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.portfolio__item-title {
  width: 100%;
  max-width: 119px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.portfolio__item-link {
  font-family: $font-arimo;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}



